.quiz-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10rem repeat(2, auto);
    grid-template-areas:
        'nav nav nav nav nav nav'
        '... contentarea contentarea contentarea contentarea ...'
        '... contentarea contentarea contentarea contentarea ...';
    background-color: var(--default-color);
}

nav {
    grid-area: nav;
    margin-left: auto;
}

section {
    grid-area: contentarea;
}

@media screen and (max-width: 600px) {

    html {
        font-size: 50%;
    }
    .quiz-container {
            grid-template-rows: 7rem repeat(2, auto);
        grid-template-areas:
            'nav nav nav nav nav nav'
            'contentarea contentarea contentarea contentarea contentarea contentarea'
            'contentarea contentarea contentarea contentarea contentarea contentarea';
    }

    nav {
        margin-right: auto;
    }

    .theme {
        padding: 2rem 3rem;
    }

    .quiz-img {
        height: 18rem;
    }

    .category-title {
        margin-left: 2rem;
    }
  
    .rule-container .rule {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}