.quiz-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10rem repeat(2, auto);
    grid-template-areas: 
    'nav nav nav nav nav nav'
    '... contentarea contentarea contentarea contentarea ...'
    '... contentarea contentarea contentarea contentarea ...';
    background-color: var(--default-color);
}

nav {
    grid-area: nav;
}

section {
    grid-area: contentarea;
}